textarea{
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-top: 30px;
    border-color:#ccc;
}